*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Wix Madefor Text', sans-serif
}

main{
    height: 100%;
    background-color: #BAA7B0;
}
/* utilities */
.d-flex-content-items-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.brdr-bottom{
    border-bottom: 2px solid rgb(0, 0, 0);
}

.f-family{
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
}
/* header */
header{
    padding: 20px 0px;
    background-color:  #6d2b6abb;
    color: white;
}

/* main */
.change-img, .send, .close-alert{
    border: 1px solid #381c37bb;
    color: #381c37bb;
    font-weight: bold;
    background-color: #EDE8EA;
}
.change-img:hover, .send:hover, .close-alert:hover{
    border: 1px solid #381c37bb;
}

/* corpo principale */
.bkg-green{
    border:4px solid #381c37bb;
    box-shadow: 0 0 20px  #241723bb ;
}

/* varie componenti della cartolina */

.text{
    padding: 5px 20px;
    background-color: #EDE8EA;
}

.to, .bottom-postcard{
    height: 30px;
}

.description{
    word-wrap: break-word; /* Abilita il wrapping delle parole */
    white-space: pre-wrap; /* Permette il wrapping del testo */
    padding: 8px;
}

img{
    width:100%
}

label{
    font-weight: bold;
}

.date{
    font-size: 14px;
    display: flex;
    align-items: end;
}

.alert{
    width: 300px;
    height: 200px;
    background-color: white;
    position: relative;
    bottom: 50vh;
    left: 50%;
    border: 1px solid #381c37bb;
    border-radius: 1rem;
    display: none;
    box-shadow: 0px 0px 8px #381c37bb ;
}

.close-alert{
    position: absolute;
    top: 65%;
    transform: translateX(-40%);
}

.alert.appear{
    display:block;
}


