*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Wix Madefor Text', sans-serif
}

main{
    height: 100%;
    background-color: #BAA7B0;
}
/* utilities */
.d-flex-content-items-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.brdr-bottom{
    border-bottom: 2px solid rgb(0, 0, 0);
}

.f-family{
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
}
/* header */
header{
    height: 3rem;
    background-color:  #6d2b6abb;
    border-bottom: 3px solid  #381c37bb;
    color: white;
}

/* main */
.form-row{
    transform: translateY(-30%);
}
/* corpo principale */
.bkg-green{
    border:4px solid #381c37bb;
    box-shadow: 0 0 20px  #241723bb ;
}

/* varie componenti della cartolina */

.text{
    padding: 5px 20px;
    background-color: #EDE8EA;
}

.to, .bottom-postcard{
    height: 30px;
}

.description{
    word-wrap: break-word; /* Abilita il wrapping delle parole */
    white-space: pre-wrap; /* Permette il wrapping del testo */
    padding: 8px;
}

img{
    width:100%
}

label{
    font-weight: bold;
}



